<template>
  <div v-bind:class="{'active': isActive}">
    <p class="my-2 py-2" style="border-bottom: solid;">{{formattedElapsedTime}}</p>
    <div class="row my-2 py-2 align-items-center">
      <i class="col fa" v-bind:class="{'fa-play': !isActive, 'fa-pause': isActive}" @click="run"></i>
      <i class="col fa fa-stop" @click="reset"></i>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: { required: true, type: String },
  },
  data() {
    return {
      elapsedTime: 0,
      timer: undefined,
      isActive: false
    };
  },
  computed: {
    formattedElapsedTime() {
      const date = new Date(null);
      date.setSeconds(this.elapsedTime / 1000);
      const utc = date.toUTCString();
      return utc.substr(utc.indexOf(":") - 2, 8);
    }
  },
  methods: {
    run() {
      this.isActive = !this.isActive;
      this.isActive?
      this.timer = setInterval(() => {
        this.elapsedTime += 1000;
      }, 1000):clearInterval(this.timer);
    },
    reset() {
      this.elapsedTime = 0;
    }
  }
};
</script>