<template>
  <form @submit.prevent="onSubmit">
    <div class="mx-3 my-3 plitka bg-secondary" v-on:click="onSubmit()">+</div>
  </form>
</template>

<script>
export default {
  methods: {
    onSubmit() {
      this.$emit("stopwatch-added");
    },
  },
};
</script>