@import './base.css';
body {
  display: flex;
  place-items: center;
}

.plitka{
  margin: auto;
  text-align: center;
  width: 200px;
}

form .plitka{
  height:100px;
  line-height: 100px;
  text-align: center;
}

.active p,.active i{
  color:white;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  padding: 0 2rem;
}


@media (min-width: 320px) {
  #app {
    grid-template-columns: 1fr;
  }
}

@media(min-width:768px){
  #app {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width:1024px){
  #app {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
