<script>
import Stopwatch from "./components/Stopwatch.vue";
import StopwatchForm from "./components/StopwatchForm.vue";
import uniqueId from "lodash.uniqueid";

export default {
  name: "app",
  components: {
    Stopwatch,
    StopwatchForm,
  },
  data() {
    return {
      Stopwatchs: [
        { id: uniqueId("stopwatch-")},
        { id: uniqueId("stopwatch-")},
        { id: uniqueId("stopwatch-")},
        { id: uniqueId("stopwatch-")},
      ],
    };
  },
  methods: {
    addStopwatch() {
      this.Stopwatchs.push({id:uniqueId('stopwatch-')});
    }
  },
};
</script>

<template>
    <div class="mx-3 my-3 plitka bg-secondary text-center" v-for="item in Stopwatchs" :key="item.id">
      <stopwatch :id="item.id"></stopwatch>
    </div>
    <StopwatchForm @stopwatch-added="addStopwatch"></StopwatchForm>
</template>